body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  ;
}

li {
  float: left;
}

li a {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: inline;
  margin: 0 10px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #f5f5f57e;
}

body {
  text-align: justify;
  background: linear-gradient(to right, #004aad, #cb6ce6);
  /* Gradiente do vermelho para o laranja */
}

h1 {
  text-align: center;
}

form {
  font-size: small;
  text-align: justify;
}

#menu {
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cac2cc75;
  padding: 3px;
  border-radius: 14px;
}

#menu h1 {
  font-size: 25px;
  color: #000000;
  margin: 10px;
}

.spaco-content {
  width: 90%;
  background-color: #cac2cc50;
  margin: 2rem 0;
  border-radius: 14px;
}

.spaco-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.espaco {
  margin-left: 30px;
  /* Espaço à esquerda */
  margin-right: 30px;
  /* Espaço à direita */
  font-size: 25px;
}



.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  max-width: 600px;
}

.input-area {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
  max-width: 600px;
}


button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #7e47c5;
  color: #fff;
  cursor: pointer;
  max-width: 600px;
}

button:hover {
  background-color: #a15ec9;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.user-message {
  background-color: #e1ffc7;
  align-self: flex-end;
}

.ai-message {
  background-color: #f1f0f0;
  align-self: flex-start;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  height: calc(50vh - 80px); /* Ajuste a altura para considerar o cabeçalho */
 
}